<style media="screen">
#otherstuff {
  margin: 0;
  padding: 0;
  clear: both;
  border-top: 1px white solid;
  list-style: none inside;
  display: flex;
}
#otherstuff li:first-child {
    border: none;
    padding-left: 1px;
}
#otherstuff li {
    flex-grow: 1;
    background: #99c;
    border: solid white;
    border-width: 0 0 0 1px;
    text-align: center;
}
</style>
